<div class="container">
	<div class="row">
		<h1>{{ decision.id }}  - {{ decision.name }}</h1>
		<p>{{ decision.description }}</p>
		<div class="container">
			<div class="row">
				<h2>Results</h2>
				<div class="col-sm-3">
					<h3>Inputs</h3>
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr> <th>Order</th> <th>Name</th> </tr>
						</thead>
						<tbody>

							{{#run.InputRuns}}
							<tr class="{{#if recognized}}success{{else}}danger{{/if}}">
								<td>{{param}}</td> <td>{{value}}</td>
							</tr>
							{{/run.InputRuns}}

						</tbody>
					</table>	
				</div>
				<div class="col-sm-9">
					<h3>Outcomes</h3>
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr> <th>Order</th> <th>Name</th> </tr>
						</thead>
						<tbody>

							{{#run.ConditionRuns}}
							<tr class="{{#if outcome}}success{{else}}danger{{/if}}">
								<td>{{order}}</td> <td>{{Rule.name}}</td>
							</tr>
							{{/run.ConditionRuns}}

						</tbody>
					</table>
					<a class="btn btn-default" href="/decision/{{decision.slug}}/run?{{#run.InputRuns}}{{param}}={{value}}&{{/run.InputRuns}}" role="button">Test Again</a>

				</div>
			</div>
		</div>
	</div>
</div>