footer
  .container.text-center
    p.pull-left © 2016 NavLabs, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://twitter.com/corbpage') Contact
      li |
      li
        a(href='https://github.com/corbinpage/flowwolf/issues') Issues

